<?xml version="1.0"?>
<model>
  <name>color_beacon_box</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Nikhil Khedekar</name>
   <email>nikhilvkhedekar@gmail.com</email>
  </author>

  <description>
    This is a model of a simple box with a colored beacon on it.
  </description>
</model>